/* .sidebar-nav a.active {
  background-color: #010b6b;
  border-left: 2px solid #fff;
}

.sidebar-nav a:hover {
  background-color: #010b6b;
  border-left: 2px solid #fff;
} */
.new-user {
  margin-left: 2%;
}
