<div class="loginbox fadeInDown">
  <div class="formContent">
    <div class="fadeIn first">
      <img
        src="assets/images/logo.jpg"
        class="img-fluid"
        width="300"
        id="icon"
        alt="Logo"
      />
    </div>
    <form autocomplete="off" #resetPasswordForm="ngForm" (submit)="onValidateOTP(resetPasswordForm)">
      <div class="error" *ngIf="errorLogin">
        <div class="error-main">{{ loginErrors?.message }}</div>
      </div>
      <div class="input-container">
        <input
          class="input-field inputWrong"
          type="password"
          placeholder="New Password"
          name="password"
          minlength="6"
          ngModel
          required
        />
      </div>
      <div
        class="error"
        *ngIf="
          (resetPasswordForm.submitted || resetPasswordForm.controls['password']?.touched) &&
          resetPasswordForm.controls['password'].invalid
        "
      >
        password is incorrect.
      </div>
      <button type="submit" class="btn btn-info btn-block custombtn">
        Reset Password
      </button>
    </form>
    <!-- <p class="mt-4">
      Don’t have an account? <a href="signup.php" class="fp"> Register Now! </a>
    </p> -->
  </div>
</div>
