
.clickable {
  cursor: pointer;
}
.container-fluid.contBox.mt-4 .col-md-6.col-lg-4 .boxsh img{
  width:100%;
  max-width: 100px;
}
.container-fluid.contBox.mt-4 .col-md-6.col-lg-4 .boxsh .bgmain{
  width:100%;
  max-width: 100px;
  object-fit:contain;
}
.container-fluid.contBox.mt-4 .col-md-6.col-lg-4 .boxsh{
  text-align:center;
}
.container-fluid.contBox.mt-4 .col-md-6.col-lg-4 .d-flex.p-3 img{
  width:100% !important;
  max-width: 30px !important;
}
.dropdown i.fa.fa-ellipsis-v{
  color:#000;
}
.d-flex.p-3{
  text-align: left !important;
}
.boxsh .dropdown-menu.show a.dropdown-item:hover{
  cursor: pointer;
  background-color: #ccc;;
}
span.suspended {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 14%;
  font-weight: 700;
}
