<div class="loginbox fadeInDown">
  <div class="formContent">
    <form
      #changePasswordForm="ngForm"
      (submit)="onChangePassword(changePasswordForm)"
    >
      <div class="error" *ngIf="errorLogin">
        <div class="error-main">{{ loginErros.message }}</div>
      </div>
      <div class="input-container">
        <input
          class="input-field inputWrong"
          type="password"
          placeholder="Current Password"
          name="currentPassword"
          ngModel
          required
          minlength="6"
        />
      </div>
      <div
        class="error"
        *ngIf="
          (changePasswordForm.submitted ||
            changePasswordForm.controls['currentPassword']?.touched) &&
          changePasswordForm.controls['currentPassword'].invalid
        "
      >
        Current password is incorrect.
      </div>
      <div class="input-container">
        <input
          class="input-field inputWrong"
          type="password"
          placeholder="New Password"
          name="newPassword"
          [(ngModel)]="newPassword"
          required
          minlength="6"
        />
      </div>
      <div
        class="error"
        *ngIf="
          (changePasswordForm.submitted ||
            changePasswordForm.controls['newPassword']?.touched) &&
          changePasswordForm.controls['newPassword'].invalid
        "
      >
        New password is incorrect.
      </div>
      <div class="input-container">
        <input
          class="input-field inputWrong"
          type="password"
          placeholder="Confirm Password"
          name="confirmPassword"
          [(ngModel)]="confirmPassword"
          required
          minlength="6"
        />
      </div>
      <div
        class="error"
        *ngIf="
          (changePasswordForm.submitted ||
            changePasswordForm.controls['confirmPassword']?.touched) &&
          changePasswordForm.controls['confirmPassword'].invalid
        "
      >
        Confirm password is incorrect.
      </div>
      <div
        class="error"
        *ngIf="
          (changePasswordForm.submitted ||
            changePasswordForm.controls['confirmPassword']?.touched) &&
          changePasswordForm.controls['confirmPassword'].valid && (changePasswordForm.controls['newPassword'].value !== changePasswordForm.controls['confirmPassword'].value)
        "
      >
        Confirm password should be same as new password.
      </div>
      <button type="submit" class="btn btn-info btn-block custombtn">
        Change Password
      </button>
    </form>
    <!-- <p class="mt-4">
      Don’t have an account? <a href="signup.php" class="fp"> Register Now! </a>
    </p> -->
  </div>
</div>
