<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <img
          src="assets/images/logo.jpg"
          class="img-fluid"
          width="300"
          id="icon"
          alt="Logo"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<section
  class="banner bgimg"
  style="background-image: url(assets/images/bannerimg.jpg);"
>
  <img src="assets/images/shape.png" class="img-fluid shapeTop" alt="Logo" />
  <img src="assets/images/shape.png" class="img-fluid shapeBtom" alt="Logo" />
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-md-5">
        <h1 class="mb-2">Lorem Ipsum is simply dummy</h1>
        <h3 class="font-italic mb-3">LOREMIPSUM DOLOR</h3>
        <p class="font-italic">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do iusmod
          tempor incididunt ut labore et dolore magna.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="secPad pt-0">
  <h2 class="text-center">TYPES</h2>
  <div class="lineDivider"></div>
  <div class="container-fluid no-gutters mt-5 p-0">
    <div class="row no-gutters">
      <div class="col-md-6 col-lg-6 no-gutters">
        <img
          src="assets/images/about.jpg"
          class="img-fluid fixImg w-100"
          alt=""
        />
      </div>
      <div class="col-md-6 col-lg-6 no-gutters bgBlue posrel">
        <div class="aboutBox">
          <h2>
            Discount up to <br />
            50% All Excursions
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat.
          </p>
          <a href="#" class="btn btn-info custombtn readmore"> Read More </a>
        </div>
      </div>
    </div>
    <div class="row no-gutters inmobile">
      <div class="col-md-6 col-lg-6 no-gutters bgBlue posrel">
        <div class="aboutBox">
          <h2>
            January’s Promo: <br />
            Buy 1 Get 1 Free!
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat.
          </p>
          <a href="#" class="btn btn-info custombtn readmore"> Read More </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 no-gutters">
        <img src="assets/images/about1.jpg" class="img-fluid w-100" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="secPad pt-0">
  <h2 class="text-center">ABOUT US</h2>
  <div class="lineDivider"></div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="aboutb">
          <img src="assets/images/ab1.jpg" class="img-fluid abFiximg" alt="" />
          <div class="aboutContent">
            <h3><a href="#">Lorem ipsum</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing...</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="aboutb">
          <img src="assets/images/ab2.jpg" class="img-fluid abFiximg" alt="" />
          <div class="aboutContent">
            <h3><a href="#">Lorem ipsum</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing...</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="aboutb">
          <img src="assets/images/ab3.jpg" class="img-fluid abFiximg" alt="" />
          <div class="aboutContent">
            <h3><a href="#">Lorem ipsum</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="secPad pt-0">
  <h2 class="text-center">INSTAGRAM FEED</h2>
  <div class="lineDivider"></div>
  <div class="instagramfeed mt-5">
    <div class="slider">
      <img src="assets/images/instagram1.jpg" class="img-fluid" alt="" />
      <img src="assets/images/instagram2.jpg" class="img-fluid" alt="" />
      <img src="assets/images/instagram1.jpg" class="img-fluid" alt="" />
      <img src="assets/images/about.jpg" class="img-fluid" alt="" />
      <img src="assets/images/about1.jpg" class="img-fluid" alt="" />
      <img src="assets/images/instagram2.jpg" class="img-fluid" alt="" />
      <img src="assets/images/about.jpg" class="img-fluid" alt="" />
    </div>
  </div>
</section>
<footer class="mt60">
  <img
    src="assets/images/shapefooter.png"
    class="img-fluid shapeTop"
    alt="Logo"
  />
  <div class="bgBlue pt-1 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 co-md-3 mt25">
          <h3>Title Here</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at
            dignissim nunc, id maximus ex. Etiam nec dignissim elit, at
            dignissim enim.
          </p>

          <div class="socialIcon mt-3">
            <a href="#"> <i class="fab fa-instagram"></i> </a>
            <a href="#"> <i class="fab fa-facebook-f"></i> </a>
            <a href="#"> <i class="fab fa-twitter"></i> </a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 co-md-3 mt25">
          <h3>About</h3>
          <ul class="list-unstyled">
            <li><a href="">History</a></li>
            <li><a href="">Our Team</a></li>
            <li><a href="">Brand Guidelines</a></li>
            <li><a href="">Terms & Conditions </a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-6 co-md-3 mt25">
          <h3>Services</h3>
          <ul class="list-unstyled">
            <li><a href="">How to Order</a></li>
            <li><a href="">Our Product</a></li>
            <li><a href="">Order Status</a></li>
            <li><a href="">Promo</a></li>
            <li><a href="">Payment Method</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-6 co-md-3 mt25">
          <h3>Contact Us</h3>
          <ul class="list-unstyled">
            <li><a href="">Contact Us</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">Privacy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>
      Copyright © 2020 Dr. Abubakar Bukola Saraki Foundation. All Rights
      Reserved.
    </p>
  </div>
</footer>
